*{
  margin:0;
  padding:0;
}

body{
  display: flex;
  justify-content: center;
  height: 600px;
  align-items: center;
  background-color: rgb(6, 3, 31);
  color: white; 
 
}

#date-time:hover{
  background-color: #e014dd;
  box-shadow:0 0 20px #e014dd;
  cursor: pointer; 
}

#date-time{
 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Open Sans', 'Helvetica Neue', sans-serif, serif;
  border: 5px solid;
  border-color:#e014dd;
  padding: 30px 30px;
  border-radius: 10px;
  transition: background-color 0.5s, box-shadow 0.5s;
  -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(255,255,255,0.1));

}

#date {
  font-size: 1em;
  font-weight:800;
  text-align:center; 
  letter-spacing:.24em; 
  font-synthesis-height:.3em; 
}

#clock {
  letter-spacing:.44em; 
  font-size :2em; 
  font-weight :800 ; 
  text-align :center ;
}

